@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto&family=Ubuntu&display=swap');
body{
  padding: 0%;
  margin:0%;
  font-family: 'Lato';
}
.navbar{
  background-color: white;
}
.navbar-brand{
/*  font-family: 'Pacifico';*/
font-family: 'Ubuntu';
  font-size: 35px;
  color:lightcoral !important;
}
.nav-link{
  font-size:16px;
  margin:15px;
  color:black !important;
  font-family: 'Roboto condense';
}
.nav-link:hover{
  color:#00E8E8 !important;
}
.active .nav-link{
  color:blue !important;
}
.menu-right-btn{
  padding: 13px 46px;
  margin-right: 1%;
  font-size: 20px;
  background-color: transparent;
  transition: all 300ms ease-in;
}
.dropdown:hover>.dropdown-menu{
  display:block;
}
.menu-right-btn:hover{
  color:white;
  background-color:#4CBB17;/* #00E8E8;*/
}

/*section1*/
.section-1 .heading-1{
  margin-top: 4%;
  margin-bottom: 2%;
  font-family: 'Righteous';
  width: 80%;

}
.section-1 .para{
  width: 80%;
  font-family: 'Ubuntu';
  color: whitesmoke;
  margin-bottom: 2%;
  font-size: 18px;
}

/*section*/
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./images/jeshoots-com-pUAM5hPaCRI-unsplash.jpg);
  background-size: cover;
}
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  margin-top: 70px;
  margin-bottom: 20px;
  color:black;/* #fff;*/
}
.contact .content p{
  font-weight: 300;
  color:black/* #fff;*/
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactinfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactinfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactinfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactinfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contactinfo .box .text h3{
  font-weight: 500;
  color: #00bcd4;
}
.container .contactinfo .box .text p{
  color: black;
}
.contactform{
  width: 100$;
  padding: 40px;
  background: #fff;
}
.contactform h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactform .inputbox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactform .inputbox input
.contactform .inputbox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactform .inputbox span{
  position: absolute;
  left: 0;
  padding: 5px 10px;
  font-size: 16px;
/*  margin: 10px 0;*/
  pointer-events: none;

  transition: 0.5s;
  color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media (max-width:991px){
  .contact{
    padding: 50px;
  }
  .container{
    flex-direction: column;
  }
  .container .contactinfo{
    margin-bottom: 40px;
  }
  .container .contactinfo,
  .contactform{
   width: 100%;
  }
}









/*footer*/
.main {
  max-height: 50px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 100px;
}
footer{
  position: 0;
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  height:400px;
  padding: 55px 50px;
margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 30%;
  margin-left: 60px;
}
.footer-distributed .footer-left h2{
  font-size: 30px;
  color: white;
}
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}


.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 2.8;
  text-decoration: none;
  color:  inherit;
}
.footer-distributed .foot1{
  margin-top: 40px;
}
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center{
  width: 35%;
  line-height: 10px;
  color:  #92999f;
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
  margin: 0;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
.footer-distributed .footer-center h2{
  color: white;
}
.footer-distributed .footer-center p{
  color: #92999f;/*  #5383d3;*/
  text-decoration: none;
  margin-top: 40px;
}

.footer-distributed .footer-right{
  width: 27%;
  line-height: 20px;
  color:  #92999f;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;

}

.footer-distributed .footer-company-about{
  line-height: 30px;
  color:  #92999f;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer-distributed .footer-company-about{

}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /*background-color:  #33383b;*/
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.address{

  line-height: 20px;
  color:  #92999f;
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
  line-height: 32px;
}*/
/*media queriws*/
@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
    background-color: #292c2f;
    height: 100%;
    text-align: center;

  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 140px;
    text-align: center;
  }
    .footer-distributed .footer-center{
      margin-right: 10px;
    }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }

}



@media screen and(max-width:320px){
      footer input[type="button"]{
        margin-top: 5%;
      }
}
