@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
body{
  padding: 0%;
  margin:0%;
  font-family: 'Lato';
}
.navbar{
  background-color: white;
}
.navbar-brand{
font-family: 'Ubuntu';
  font-size: 35px;
  color:lightcoral !important;
}
.nav-link{
  font-size:20px;
  margin-left: 50px;

  color:black !important;
  font-family: 'Roboto condense';
}
.nav-link:hover{
  color:green !important ;/*#00E8E8 !important;*/
}
.active .nav-link{
  color:blue !important;/*#00E8E8 !important;*/
}
.menu-right-btn{
  padding: 13px 46px;
  margin-right: 1%;
  font-size: 20px;
  background-color: transparent;
  transition: all 300ms ease-in;
}
.dropdown:hover>.dropdown-menu{
  display:block;
}
.menu-right-btn:hover{
  color:white;
  background-color:#4CBB17;/* #00E8E8;*/
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel-caption {
	bottom: 270px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}




/*section1*/
.icon{
  font-size: 140px;
  color: gray;
  margin-bottom: 10px;
  margin-top: 30px;
}
.section-1 .heading-1{
  margin-top: 8%;
  margin-bottom: 70px;
}
.section-1 .heading-2{
  margin-bottom: 5%;
  font-size: 39px;
}
.section-1 .para-1{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}
.section-1 .card-text, .para-1{
  color: rgba(0, 0, 0, 0.59);
  margin-top: 10px;
}
.section-1{
  margin-bottom: 8%;
}
.card{
  width: 20rem;
}
.card-body a{
  text-decoration: none;
    color: rgba(0, 0, 0, 0.59);
}
.card-text:hover{
  color:#4cbb17;
}
/*section-2*/

.section-2 .container-fluid{
  background-image: url('../images/jeshoots-com-pUAM5hPaCRI-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.section-2 .heading-1{
  margin-top: 20%;
  margin-bottom: 4%;
  font-family: 'Righteous';
  width: 80%;
  color: whitesmoke;
}
.section-2 .para{
  width: 80%;
  font-family: 'Ubuntu';
  color: whitesmoke;
  margin-bottom: 7%;
}
.section-2 .btn{
  margin-bottom: 15%;
  width:30%;
  padding: 2% 5%;
}
/*section*/
.section-3{
  margin-top:6%;
}
.section-3 i{
  color: #00EBEB;
}
.section-3 p{
  color: rgba(0, 0, 0, 0.59);
}

/*section 4*/
.section-4{
  margin-top: 8%;
}
.section-4 .row .col-md-7, .col-md-5{
  margin-top: 10%;
  margin-bottom: 10%;
}
.section-4 a{
  color:lightseagreen;
  font-size: 40px;
  text-decoration: none;
}
.section-4 .para-1{
  color: white;
  font-family: 'Roboto Condensed';
  margin-top:7%;
  font-size: 23px;
}

/*footer*/
.social i{
  color: #EF5651;
  font-size: 20px;
}
h4{
  margin-top: 80px;
}
.form-inline{
  margin-bottom: 150px;
}

.clr{
  clear: both;
}
.footer-wrapper{
  width: 100%;
  height: auto;
  min-height: 250px;
  margin:auto;
  background-image: url(../images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding-top: 75px;
  bottom: 0px;
}
.footer-social-icons{
  width: 100%;
  height: auto;
  margin:auto;
  margin-bottom: 20px;
  size:20px;
}
.footer-social-icons ul{
  margin:0px;
  padding: 0px;
  text-align: center;
  padding-top: 40px;
}
.footer-social-icons ul li{
  display: inline-block;
  margin-right: 2px;
  width: 36px;
  height: 36px;
  margin-left: 20px;
  text-align: center;
}
.footer-social-icons ul li a{
  color: #fff;
  display: block;
  font-size: 22px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.75);
}
.footer-social-icons ul li a i{
  line-height: 36px;
  font-size: 20px;
}
.footer-social-icons ul li:nth-child(1){
    background: #3b5998;
}
.footer-social-icons ul li:nth-child(2){
    background: #1da1f2;
}

.footer-social-icons ul li:nth-child(3){
    background: #c32aa3;
}
.footer-social-icons ul li:nth-child(4){
    background: #007bb5;
}
.footer-social-icons ul li:nth-child(5){
    background: #25d366;
}
.footer-social-icons ul li:nth-child(6){
    background: #db4437;
}
.bg{
  background-color: #384958;
  left:0;
  right:0;
  bottom: 0;
}
.footer-mid-part{
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-section-one{
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px 20px;
  /*background: rgba(255,255,255,.1);*/
}
.footer-section-two{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
}
.footer-section-three{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255,255,255,.1);
}
.footer-heading{
   width: 100%;
  height: auto;
  margin: auto;
}
.footer-heading h2{
  font-size: 18px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
}

.footer-contact-box{
  width: 100%;
  height: auto;;
  margin: auto;
  margin-top: 13px;
}
.footer-contact-icon{
  width: 25px;
  height: 25px;
  float: left;
}
.footer-contact-icon i{
  color: #fff;
  font-size: 20px;
}
.footer-contact-text{
  width: 85%;
  height: auto;
  float: left;
  margin-left: 10px;
}
.footer-contact-text p{
  font-size: 14px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}
.footer-contact-text p a{
  font-size: 14px;
  text-align: left;
  color: #fff;
  text-decoration: none;

}
.footer-contact-text p:hover{
  color: #f00;
}
.footer-contact-box:hover .footer-contact-icon i{
   color: #f00;
}
.footer-contact-box:hover .footer-contact-text p a{
  color: #f00;
}
.footer-link{
  width: 100%;
  height:auto;
  margin: auto;
  margin-top: 20px;
}
.footer-link p{
  color: white;
}
.footer-link ul{
  margin:0px;
  padding: 0px;
}
.footer-link ul li{
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
}
.footer-link ul li a{
  font-size: 14px;
  color: #fff;
  text-decoration: none;
   text-transform: capitalize;;
}
.footer-link ul li a:hover{
  color: #f00;
}
.footer-section-two .footer-heading h2{
  text-align: center;
}
.footer-form{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-box{
   width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-style{
  width: 100%;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom:1px solid rgba(255,255,255,.1);
  background:transparent;
  font-size: 14px;
  text-align: left;
  padding: 0px 10px;
  color: #fff;
}
.footer-form-submit-style{
  width: 129px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: rgba(255,255,255,.5);
  border:none;
  margin-top: 1px;
}
.footer-form-submit-style:active{
  background: #f00;
}
.footer-bottom{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-bottom{
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.top-img{
  position: absolute;
  background-image: url(../images/sincerely-media-3KEFp35FVB0-unsplash.png);
  top: -20px;
  left: 0px;
  width: 100%;
  height: 55px;
}


h1 span{
  color: #f00;
}
/*RESPONSIVE CODE*/
@media only screen and (max-width: 1199px){
  .footer-wrapper{
    position: relative;
    background-attachment: scroll;
  }
  h1{
    font-size: 4vw!important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-section-one{
    padding: 12px;
  }
  .footer-social-icons ul li{
    margin-bottom: 5px;
  }
}
