@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
body{
  padding: 0%;
  margin:0%;
  font-family: "Montserrat";
  /*font-family: 'Lato';*/
}
.navbar{
  background-color: black;
}
.navbar-brand{
  font-family: 'Ubuntu';
}
.nav-link{
  font-size:18px;
  letter-spacing: 0.5px;
  margin-right: 28px;
  color:white !important;
  /*font-family: 'Roboto condense';*/
}
.nav-link:hover{
  color:#89CFF0 !important ;
}
.active .nav-link{
  color:#89CFF0 !important;
}
.dropdown:hover>.dropdown-menu{
  display:block;
}
.emp{
  color:gray;
  font-size: 40px;
}
.emp:hover{
  color:#89CFF0 !important;
}
/*section1*/
*,*:after,*before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
.slide-container{
  display: flex;
}
.slide-box{
  flex-basis: 33.333%;
  height: 80vh;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  border-right: 6px solid #fff;
  transition: all 0.6s ease-out;
  background-size: auto 120%;
  background-position: center center;
  background-repeat: no-repeat;
}
.slide-box:last-child{
  border: 0;
}
.slide-container:hover .slide-box{
  flex-basis: 20%;
}
.slide-container:hover .slide-box:hover{
  flex-basis: 60%;
  transition: all 0.4s ease-out;
}
.slide-box-containt{
  padding: 30px;
  color: #fff;
  font-size: 18px;
  opacity: 0;
  position: relative;
  left: -30px;
}
.slide-box:hover .slide-box-containt{
  left: 20;
  opacity: 1;
  margin-bottom: 20%;
  margin-left: 20%;
  transition: all 0.4s ease-out 0.6s;
}
.slide-box-containt h2{
  margin:0 0 20px;
  font-size: 40px;
  color:#0087BD;
    font-family: "Montserrat-Bold";
/*  font-family: 'Roboto condense';*/
}
.slide-box-containt p:last-child{
  margin: 0;
  font-size: 20px;
  font-family: 'Roboto condense';
}
/*section2*/
#service{
  width: 100%;
  padding: 76px 0;
  background:white;/* #efefef;*/
}
.title-text{
  text-align: center;
  padding-bottom:70px;
}
.title-text h1{
  font-size: 40px;
    margin-top: 4%;
    color: #0087BD;
  margin-bottom: 40px;
  font-family: "Montserrat-Bold";
  /*font-family: 'Ubuntu';*/
  }
.service-box{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service{
  flex-basis: 45%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img{
  width: 100%;
  border-radius: 7px;

}
.single-service a{
  color: white;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0,0,0,0.5),lightblue);/*#009688);*/
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay{
  opacity: 1;
}
.service-desc{
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translatex(-50%);
  transition: 1s;
}
hr{
  background: #fff;
  height: 2px;
  border:0;
  margin: 15px auto;
  width: 60%;
}
.service-desc p{
  font-size: 14px;
}
.single-service:hover .service-desc{
  bottom: 40%;
  opacity: 1;
}
@media screen and (max-width:770px){
  .single-service{
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p{
    font-size: 12px;
  }
  hr{
    margin: 5px auto;
  }
  .single-service:hover .service-desc{
    bottom: 25% !important;
  }
}

/*section-3*/
.section-3{
  margin-top:1%;

  height: 520px;
}
.sec1{
  padding-top: 50px;
}
.section-3 p{
  color:rgba(0, 0, 0, 0.59);
}
@media screen and (max-width:770px){
  .section-3{
    height: 100%;
  }
}
/*section-4*/
.section-4{
  margin-top: 8%;
  background-color: #023246;
}
.section-4 .row .col-md-7, .col-md-5{
  margin-top: 10%;
  margin-bottom: 10%;
}
.section-4 h1{
  font-size: 30px;
}
.section-4 a{
  color:lightseagreen;
  font-size: 40px;
  text-decoration: none;
}
.section-4 .para-1{
    color: #8f8f8f;
  /*font-family: 'Roboto Condensed';*/
  margin-top:7%;
  font-size: 18px;
}
/* section-5 */
.section-header h3 {
     font-size: 36px;
     color: #283d50;
     text-align: center;
     font-weight: 500;
     position: relative;
 }
 .section-header p {
     text-align: center;
     margin: auto;
     font-size: 15px;
     padding-bottom: 60px;
     color: #556877;
     width: 50%;
 }
#clients {
     padding: 60px 0
 }
#clients .clients-wrap {
    /* border-top: 1px solid #d6eaff;
     border-left: 1px solid #d6eaff;*/
     margin-bottom: 30px
 }
#clients .client-logo {
     padding: 64px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
    /* border-right: 1px solid #d6eaff;
     border-bottom: 1px solid #d6eaff;*/
     overflow: hidden;
     background: #fff;
     height: 160px
 }
#clients img {
     transition: all 0.4s ease-in-out
 }
 @media screen and (max-width:770px){
   #clients {
        padding: 120px 0
    }
   #clients .clients-wrap {
        border-top: 1px solid #d6eaff;
        border-left: 1px solid #d6eaff;
        margin-bottom: 90px
    }
    #clients .client-logo {
         padding: 124px;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: center;
         -webkit-justify-content: center;
         -ms-flex-pack: center;
         justify-content: center;
         -webkit-box-align: center;
         -webkit-align-items: center;
         -ms-flex-align: center;
         align-items: center;
         border-right: 1px solid #d6eaff;
         border-bottom: 1px solid #d6eaff;
         overflow: hidden;
         background: #fff;
         height: 160px
     }
 }

/*footer*/
footer{
  position: 0;
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  height:400px;
  padding: 55px 50px;
margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 30%;
  margin-left: 60px;
}
.footer-distributed .footer-left h2{
  font-size: 30px;
  color: white;
}
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}


.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 2.8;
  text-decoration: none;
  color:  inherit;
}
.footer-distributed .foot1{
  margin-top: 40px;
}
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center{
  width: 35%;
  line-height: 10px;
  color:  #92999f;
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
  margin: 0;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
.footer-distributed .footer-center h2{
  color: white;
}
.footer-distributed .footer-center p{
  color: #92999f;/*  #5383d3;*/
  text-decoration: none;
  margin-top: 40px;
}

.footer-distributed .footer-right{
  width: 27%;
  line-height: 20px;
  color:  #92999f;
  font-size: 18px;
  font-weight: normal;
  margin-top: 6px;

}
.footer-distributed .footer-company-about{
  line-height: 30px;
  color:  #92999f;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer-distributed .footer-right h2{
  color: white;
}
.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /*background-color:  #33383b;*/
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.address{

  line-height: 20px;
  color:  #92999f;
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
  line-height: 32px;
}
/*media queriws*/
@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
    background-color: #292c2f;
    height: 100%;
    text-align: center;

  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 140px;
    text-align: center;
  }
  .footer-distributed .footer-left{
    margin-left:18px;
    margin-top: 20px;
  }
    .footer-distributed .footer-center{
      margin-right: 10px;
    }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }

}



@media screen and(max-width:320px){
      footer input[type="button"]{
        margin-top: 5%;
      }
}
