@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto&family=Ubuntu&display=swap');
body{
  padding: 0%;
  margin:0%;
   font-family: "Montserrat";
}
.navbar{
  background-color: black;
}
.navbar-brand{
font-family: 'Ubuntu';
  font-size: 35px;
  color:lightcoral !important;
}
.nav-link{
  font-size:18px;
  margin-right: 28px;
  color:white !important;

}
.nav-link:hover{
  color:#89CFF0 !important ;
}
.active .nav-link{
  color:#89CFF0 !important;
}
.emp{
  color:gray;
  font-size: 40px;
}
.emp:hover{
  color:#89CFF0 !important;
}

/*section*/
#tform{
	background:url("../images/jeshoots-com-pUAM5hPaCRI-unsplash.jpg") no-repeat center fixed;
    background-size: cover;
    background-size: 1900px;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	display: flex;
	font-family: sans-serif;
	font-style: italic;
  position:relative;
   padding:150px 100px 100px;
  font-family: "georgian",sans-serif;
   width: 100%;
}
.container{
	width: 80%;
	padding: 20px;
}
.container h2{
	width: 100%;
	color:#130f40;
	font-size: 36px;
	text-align: center;
	margin-bottom: 15px;
}
.container .row100{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.container .row100 .col{
	position: relative;
	width: 100%;
	padding: 0 30px;
	margin: 30px 0 10px;
	transition: 0.5s;
}
.container .row100 .inputBox{
	position: relative;
	width: 100%;
	height: 40px;
	color: #130f40;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: none;
	border:none;
	outline: none;
	font-size: 18px;
	padding: 0 10px;
	z-index:1;
	color:#000;
}
.row100 .col .inputBox input:focus {
	outline: 0;
	border-color: #777;
}


.container .row100 .inputBox .line
{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background:darkkhaki;
	transition: 0.5s;
	border-radius: 2px;
	pointer-events: none;
}
.container .row100 .col #bt
{
	margin: 45px 0 30px 290px;
	height:55px;
	width: 205px;
	font-size: 20px;
	color:white;
	outline:none;
	cursor: pointer;
	font-weight: bold;
	background:#999900;
	border-radius: 30px;
	border:1px solid #CCCC00;
	transition: .5s;
}
.container .row100 .col #bt:hover{
	background:#9ACD32;
}
.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line
{
	height: 100%;
}
.container .row100 .inputBox.textarea{
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px 0;
}
 .container .row100 .inputBox.textarea textarea
{
	height: 100%;
	resize: none;
}
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text
{
    top:-35px;
    left:-10px;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line
{
	height: 100%;
}
input[type="submit"]
{
	border:none;
	padding: 7px 35px;
	cursor: pointer;
	outline:none;
	background: #FF9933;
	color:#000;
	font-size: 18px;
	border-radius: 2px;
}


.login_form .row100 .col .inputBox #fname_error,
.login_form .row100 .col .inputBox #lname_error,
.login_form .row100 .col .inputBox #email_error,
.login_form .row100 .col .inputBox #contact_error,
.login_form .row100 .col .inputBox #technology_error,
.login_form .row100 .col .inputBox #experience_error,
.login_form .row100 .col .inputBox #password_error,
.login_form .row100 .col .inputBox #confirmpassword_error{

	margin-top: 1px;
	width: 340px;
	height:30px;
	font-size: 16px;
	color:#C62828;
	text-align:bottom;
	padding:50px 25px 1px 4px;
	display:none;
}
.login_form .row100 .col .inputBox #description_error{
   margin-top: 1px;
	width: 340px;
	height:30px;
	font-size: 16px;
	color:#C62828;
  text-align:bottom;
	padding:100px 25px 1px 4px;
  display: none;
}






/*footer*/
.main {
  max-height: 50px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 100px;
}
footer{
  position: 0;
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  height:400px;
  padding: 55px 50px;
margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 30%;
  margin-left: 60px;
}
.footer-distributed .footer-left h2{
  font-size: 30px;
  color: white;
}
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}


.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 2.8;
  text-decoration: none;
  color:  inherit;
}
.footer-distributed .foot1{
  margin-top: 40px;
}
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center{
  width: 35%;
  line-height: 10px;
  color:  #92999f;
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
  margin: 0;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
.footer-distributed .footer-center h2{
  color: white;
}
.footer-distributed .footer-center p{
  color: #92999f;/*  #5383d3;*/
  text-decoration: none;
  margin-top: 40px;
}

.footer-distributed .footer-right{
  width: 27%;
  line-height: 20px;
  color:  #92999f;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;

}

.footer-distributed .footer-company-about{
  line-height: 30px;
  color:  #92999f;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer-distributed .footer-company-about{

}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /*background-color:  #33383b;*/
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.address{

  line-height: 20px;
  color:  #92999f;
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
  line-height: 32px;
}
/*media queriws*/
@media (max-width: 880px) {
  .container .row100 .col #bt
  {
   margin: 45px 0 30px 40px;
   height:55px;
   width: 180px;
   font-size: 20px;
   color:white;
   outline:none;
   cursor: pointer;
   font-weight: bold;
   background:#999900;
   border-radius: 30px;
   border:1px solid #CCCC00;
   transition: .5s;
  }
  .container .row100 .col #bt:hover{
   background:#9ACD32;
  }
  .footer-distributed{
    font: bold 14px sans-serif;
    background-color: #292c2f;
    height: 100%;
    text-align: center;

  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 140px;
    text-align: center;
  }
  .footer-distributed .footer-left{
    margin-left:18px;
    margin-top: 20px;
  }
    .footer-distributed .footer-center{
      margin-right: 10px;
    }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }

}



@media screen and(max-width:320px){
      footer input[type="button"]{
        margin-top: 5%;
      }
}
